
body{
}

h2{
   font-size: 30px;
   font-family: 'Playfair Display', serif;
   color: rgb(98, 98, 98);
}

h4{
   font-size: 14px;
   font-family: 'Ubuntu', sans-serif;
   color: rgb(180, 173, 158);
}

a{
	text-decoration: none;
	color: rgb(98, 98, 98);
}

header{
   width: 100%;
   min-height: 100px;
   margin:20px;
}


header li{
	float: right;
    list-style-type: none;
    margin: 30px 70px 0 0;
}

.header--logo{
    float: left;
    margin:30px 0 0 60px;
}


.container{
	width: 90%;
	margin-left: 50px;

}

.container img{
	width: 100%;
	height: 400px;
}

main{
	width: 90%;
	min-height: 500px;
	margin-left: 70px;
}


.main--banner img{
	width: 100%;
	margin-top: 30px;

}


.main--lyfestyle__new1,
.main--lyfestyle__new2,
.main--photodiary__new3,
.main--photodiary__new4,
.main--lyfestyle__new5,
.main--lyfestyle__new6{
	display: inline-block;
    width: 40%;
    margin: 5%;

}

.main--lyfestyle__new2,
.main--photodiary__new4,
.main--lyfestyle__new6{
	float: right;
}

.main--email{
	margin-left: 0;
	width: 100%;
	height: 100px;
	background: #eee;
	text-align: center;

}

input{
	background: none;
	border: none;
	border-bottom: 1px solid black;
}

input:hover,
input:focus{

	/*border: 0px !important;
	outline:none!important*/

	outline: none;
}

button{
	border: 0;
	background: none;

}

button,
button:active,
button:focus {
    outline: none;
    cursor: pointer;
}


.main--button{
	width: 150px;
	height: 60px;
	border: 1px solid black;
    margin: auto;

}

.main--button a{
	display: block;
	height: 100%;
	text-decoration: none;
	color:#000;
	text-align: center;
	padding-top:  20px;

}


footer{
	width: 100%;
	height: 100px;
	background-color: #eee;
}


footer a{
	text-decoration: none;
	color:#222;
}

.footer--list__info{
	padding-top: 40px;

}

.footer--list__info li{
	display: inline;
	padding: 20px;
	font-size: 18px;
}

.footer--list__follow{
	margin-bottom: 20px;
}

.footer--list__follow li{
	display: inline;
	float: right;
	padding: 17px;
    margin-top: -50px;
}

.footer--list__follow li a{
	filter: grayscale(1);
}


@media only screen and (max-width: 768px) {
    .container img{
    	width: 80%;
    	height: 80%;

    }

}

@media only screen and (max-width: 690px) {
	header ul{
   text-align: center;
	}
	.footer--list__follow{
		display: none;
	}
	.footer--list__info{
		padding: 40px 0 0 0;
		text-align: center;
	}
}